* {
  box-sizing: border-box;

}

body {
  margin: 0px;
  padding: 0px;
  font: poppins;
  background-color: black;
}

#main1 {
  width: 100%;
  height: 50vh;
}

#main {
  width: 100%;
  height: 20vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  box-shadow: 1px 1px 5px rgb(238, 236, 236);
  z-index: 1;
}

.logo img {
  height: 65px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8en;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
}

a {
  text-decoration: none;
}

.hey {
  color: #29ab52;
  font-weight: 500;
  font-size: 0.9em;
  border-bottom: 2px solid #39bfbd;
}

.image {
  width: 500px;
  height: 500px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.main-text {
  width: 500px;
}

.main-text h1 {
  font-size: 3.5em;
  color: hsl(59, 72%, 50%);
  margin: 0px 0px 10px 0px;
  line-height: 60px;
}

.main-text p {
  color: white;
  font-family: 'EB Garamond', serif;

}

.resume-btn {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #1db096;
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.02);
}

.resume-btn:hover {
  background-color: #23cdaf;
  transition: all ease 0.2s;
}

.menu li a:hover {
  background-color: #23cdaf;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.02);
  transition: all ease 0.2s;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flip-card {
  float: left;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  float: left;
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  float: left;
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  float: left;
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

.style-button {
  height: 40px;
  line-height: 20px;
  margin: 0%;
  background-color: #d71616;
  padding: 0px 22px;
  font-size: 3en;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  border-radius: 15px;
  border: #bbb;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 1);
}

.style-button:hover {
  background-color: #2caf25;
  color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all ease 0.2s;
}

.box1 {
  position: relative;
  top: 0;
  left: 0;

}

.box2 {
  position: relative;
  top: 0;
  left: 0vh;
}

.box3 {
  position: relative;
  top: 0;
  left: 0vh;
}

.box4 {
  position: relative;
  top: 0vh;
  left: 0vh;
}

.box5 {
  position: relative;
  top: 33vh;
  left: 10vh;
}

/* .button1 {
  margin-top: 5vh;
  padding: 5px;
  border: 0;
  color: white;
  background-color: #2caf25;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1:hover {
  color: white;
  background-color: #379832;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */

.contact {
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 0%;
  padding: 0px;
  color: white;
}

#fname,
#lname,
#mail,
#contactno {
  margin: 10px;
  margin-left: 0%;
  padding: 5px;
  width: 75%;
  border-radius: 5px;
  border-color: #73a6cd;

}

#fname:hover {
  border-color: #20d83c;
}

#lname:hover {
  border-color: #20d83c;
}

#mail:hover {
  border-color: #20d83c;
}

#contactno:hover {
  border-color: #20d83c;
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40B3A2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.typed-out {
  overflow: hidden;
  border-right: .15em solid rgb(20, 16, 10);
  white-space: nowrap;
  animation: typing 1s steps(20, end) forwards, blinking .8s infinite;
  font-size: 1.6rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinking {
  from {
    border-color: transparent
  }

  to {
    border-color: white;
  }
}
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  /* overflow: hidden; */
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}
.fa {
  padding: 6px;
  font-size: 27px;
  width: 38px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #b95a42;
  color: white;
}
/* .Btn-inata{
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
 
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer-insta {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG-insta {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all .3s;
}

.Btn-inata:hover .BG-insta{
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn-inata:hover .svgContainer-insta {
  background-color: rgba(156, 156, 156, 0.466);
} */
